<nav class="navbar">
  <div class="wrapper wrapper-navbar">
    <div class="navbar__site-name">
      Just A Bite!
    </div>
    <ul class="navbar__list">
      <li><a href="/">回到首頁</a></li>
      <li><a href="/admin">管理後台</a></li>
      <li><a href="/logout">管理登出</a></li>
    </ul>
  </div>
</nav>