<!DOCTYPE html>

<html>

<head>
 <%- include('template/header') %>
</head>

<body>
<%- include('template/navbar')%>
<section class="lottery__section">
  <div class="lottery">
    <h3 class="lottery__title">2021 疫情退散！ 抽獎活動辦法</h3>
    <div class="lottery__contents">
      <div class="lottery__content">
        <div class="lottery__content-title">活動期間：</div>
        <div class="lottery__content-text">2021/08/20~2021/12/31</div>
      </div>
      <div class="lottery__content">
        <div class="lottery__content-title">活動說明：</div>
        <div class="lottery__content-text">消費滿100000，你就有機會財富自由!</div>
      </div>
      <div class="lottery__content">
        <div class="lottery__content-title">獎  品：</div>
        <div class="lottery__content-text">❤ 頭獎：一億送你<br>
          ❤ 二獎：車子給你開<br>
          ❤ 開心獎：吃冰剛剛好</div>
      </div>
    </div>
    <a class="lottery__btn btn" type="button" href='/get-lottery'>我要抽獎</a>
  </div>
</section>

<%- include('template/footer_lottery')%>
</body>

</html>

